.header {
  padding: 0.5rem 5rem;
  display: flex;
  background: #3f51b5;
  justify-content: flex-start;
  align-items: baseline;

  h1 {
    color: white;
    margin: 0 0 !important;
  }

  .mat-mdc-list-item {
    margin: 0 10px;
    text-align: center;
  }
}
